---
layout: archive
author_profile: false

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: assets/images/unsplash-image-7.jpg
  actions:
    - label: "resources"
      url: "/resources/"
      class: "btn--primary"
    - label: "machine learning implementation"
      url: "ml"
excerpt: "Acess to the care you need, made simple"
intro: 
  - excerpt: 'Nobody in need of care should have to struggle to find it. We are here to help you find the care you need, when you need it.'

feature_row:
- image_path: assets/images/healthcross.png
  alt: "Resource Image"
  title: "Resources"
  excerpt: "Find help when you need it."
  url: "/resources/"
  btn_label: "Resources"
  btn_class: "btn--primary"
feature_row2:
- image_path: assets/images/ai2.png
  alt: "ML Image"
  title: "Experiemental Machine Learning Implementation"
  excerpt: "Machine Learning to Help Suggest the Right Resource for you"
  url: "/ml"
  btn_label: "Machine Learning"
  btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row type="center" %}

{% include feature_row id="feature_row2" type="center" %}


